.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.app-container{
    margin-top: 15px;
    width: 75vw;
    max-height: 73vh;
    overflow-y: scroll; 
    color: $light-background;
    background-color: $background-color-app;
    box-shadow: 0 0 30px $background-color-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.app-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $background-color-header;
} 

.app-container::-webkit-scrollbar-thumb {
    background-color: transparentize($light-background, 0.5) ;
    border-radius: 25px;
}
