.blotter-table{
    background-color: $background-color-header;
    color: $light-background;
    width: 80%;
    th,td{
        width: 150px;
    }
    thead th{
        color: $table-header;
    }

}