@import "./variables";
@import "./Header";
@import "./App";
@import './Chart';
@import './Form';
@import './BlotterTable';

body{
    background-image: 
    linear-gradient(
      rgba(60, 100, 144, 0.7), 
      rgba(60, 100, 144, 0.7)
    ),
    url(../assets/background-circles.svg);
    background-repeat: repeat;
    background-size: cover;
    background-position: 500px;
    background-color: black;
    min-height: 100vh
}