.header{
    height: 100px;
    background-color: $background-color-header;
    display: flex;
    justify-content: center;
    padding: 0 15vw;
}
.navbar-item{
    color: $light-text-color ;
    font-size: .75em;
    font-weight: bolder;
}
.navbar-brand{
    color: $light-background;
    width: 30px;
}
.navbar-brand, .navbar-item{
    text-transform: uppercase
}