.header{
    height: 100px;
    background-color: $background-color-header;
    display: flex;
    justify-content: center;
    padding: 0 15vw;
}
.navbar-item{
    color: $light-background ;
    font-size: .7em;
    text-transform: uppercase
}
.logo-container{
    width: 150px;
    img{
        height: 100%;
        width: 100%
    }
}